doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
	body

		a(href='#test') test
		a(href='#test2') test2

		block content

		script(src='js/lib/require-min.js')
		script(src='js/lib/underscore.js')
		script(src='js/lib/jquery-1.9.1.min.js')
		script(src='js/lib/backbone.js')
		script(src='js/main.js')

