doctype 5
html
	head
		title= title
		link(rel='stylesheet', href='/css/style.css')
	body
		block content

		script(src='jslib/require-min.js')
		script(src='jslib/underscore.js')
		script(src='jslib/jquery-1.9.1.min.js')
		script(src='jslib/backbone.js')
		script(src='js/main.js')
